*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    color: #ededed;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #7f97ff;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-image: url("Images/Wallpaper.png");     
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-contenth3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin:  -3px 0;
}

.home-content p{
    font-size: 20px;
}

.iconArea{
	position:fixed;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
}

.iconArea a{
    text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
}

.iconArea a i{
	color:rgba(39,39,39,0.80);
}
 
.iconArea a:hover .fa-facebook-f{
	color: #1f59d7;
}
.iconArea a:hover .fa-twitter{
	color: #00acee ;
}
.iconArea a:hover .fa-instagram{
	color:  #f5ab3d ;
}
.iconArea a:hover .fa-youtube{
	color: 	#FF0000;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,
    0 0 50px cyan,
    0 0 100px cyan,
    0 0 200px cyan;
    
}

